.app-wrapper {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header header header header"
    "void nav content void-left";
  grid-template-rows: 80px;
  grid-template-columns: 200px 250px auto 200px;

}

.app-wrapper-content {
  grid-area: content;
  background-color: #D9D9D9;
}

.app-wrapper-void {
  grid-area: void;
  background-color: #D9D9D9;

}

