.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {
    padding: 10px;
}
.dialogsItem .active {
    color: gold;
}
.messeges {
    
}

.message {
    padding: 10px;

}
.item img{
    width: 50px;
}